<div>
  <h1>My Goals</h1>
  <p>My goal for today is {{ goal }}</p>
  
  <!-- We have created an unordered list with a list tag that has some logic, the *ngFor directive. -->
  <!-- The *ngFor is an angular repeater directive that loops through the host element goals which is a list. -->
  <!-- Don't forget the asterisk sign *before ng, it's part of the syntax. The directive goes through the goals array and assigns each item in the array the variable goal. -->
  <!-- We have then displayed the goal variable inside the list tag using Angular's interpolation binding syntax. -->
  <ul>
    <p>Array of goals:</p>
    <li *ngFor='let goal of goals'>
      {{goal}}
    </li>
  </ul>
</div>
<app-goal></app-goal>